<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: red;
}
</style>
	<title>PAGUNSAN</title>
	<link rel ="stylesheet" type ="text/css" href="css/Web Dev.css">
	<link rel="shortcut icon" type="favicon" href="img/logo.png">
</head>
<body>
<font face="23" size="Chiller" >
<style>
	body{
	background: url(img/spider.jpg);
  	background-repeat: no-repeat;
   	background-size: cover;
 	}
 
</style>
	<center>
	<!-- <center><h1>Spider Man Movies</h1> -->
	<img src="img/sp.png" width="310px";>
	<h3><a href="/app">Spider Man</a></h3>
	<h3><a href="/sm2">Spider Man 2</a></h3>
	<h3><a href="/sm3">Spider Man 3</a></h3>
	<h3><a href="/asm">The Amazing Spider Man</a></h3>
	<h3><a href="/asm2">The Amazing Spider Man 2</a></h3>
	</font>
	</center>

	<br>
	
</body>
</html>